@import 'tailwindcss';

:root {
    --primary: oklch(86.465% 0.00419 285.968);
    --secondary: oklch(90.725% 0.12738 95.631);
    --accent-red: oklch(54.781% 0.21983 28.732);
    --accent-blue: oklch(48.127% 0.15484 265.532);
    --accent-green: oklch(65.217% 0.20321 142.583);
    --text-dark: oklch(13.735% 0.06106 261.452);
}

@theme inline {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent-red: var(--accent-red);
    --color-accent-blue: var(--accent-blue);
    --color-accent-green: var(--accent-green);
    --color-text-dark: var(--text-dark);

    --font-primary: var(--font-rounded);
    --font-secondary: var(--font-noto);

    --radius-huge: 6rem;

    --text-display-large: 147px;
    --text-display-medium: 103px;
    --text-display-small: 62px;
    --text-headline-large: 51px;
    --text-headline-medium: 40px;
    --text-headline-small: 32px;
    --text-title-large: 22px;
    --text-title-medium: 20px;
    --text-title-small: 18px;
    --text-body-large: 18px;
    --text-body-medium: 16px;
    --text-body-small: 14px;
    --text-label-large: 14px;
    --text-label-medium: 12px;
    --text-label-small: 10px;

    --max-width: 1800px;

    /* Heights based on Tailwind's spacing scale: --spacing: 0.25rem /* 4px */
    --header-height: calc(var(--spacing) * 14) /* [14] 4rem = 56px */;
    --footer-height: 600px;

    /* Minimap dimensions */
    --minimap-width: 180px;
}

@layer base {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: var(--primary) var(--secondary);
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
    }

    *::-webkit-scrollbar-track {
        background: var(--primary);
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--secondary);
    }

    button {
        @apply cursor-pointer;
    }

    h1 {
        font-family: var(--font-acma);
    }

    /* LINK STYLES */
    .underlined-link {
        @apply relative inline-block w-fit cursor-pointer overflow-x-clip text-secondary no-underline;
    }

    .underlined-link::after {
        @apply absolute bottom-[2px] left-0 z-50 h-px w-full -translate-x-[102%] bg-current transition-transform duration-300 content-[''];
    }

    .underlined-link:hover::after,
    .active.underlined-link::after {
        @apply translate-x-0;
    }

    /* BUTTON STYLES */
    button {
        @apply cursor-pointer;
    }

    .btn-primary {
        @apply rounded-3xl bg-text-dark px-4 pt-4 pb-3 leading-none font-medium text-secondary transition-colors duration-300 hover:bg-accent-green;
    }

    .btn-secondary {
        @apply bg-secondary px-4 py-2 font-medium text-primary transition-colors duration-300 hover:bg-secondary/30 hover:text-secondary;
    }

    .btn-secondary-sm {
        @apply bg-secondary px-2 py-[2px] text-label-large font-medium text-primary transition-colors duration-300 hover:bg-secondary/30 hover:text-secondary;
    }

    .btn-ghost {
        @apply flex items-center border border-secondary bg-transparent px-4 py-2 font-medium text-secondary transition-colors duration-300 hover:bg-secondary hover:text-primary;
    }

    .btn-ghost-sm {
        @apply flex items-center border border-secondary bg-transparent px-2 py-[2px] text-label-large font-medium text-secondary transition-colors duration-300 hover:bg-secondary hover:text-primary;
    }

    /* HEADING STYLES */
    .heading-feedback {
        @apply leading-none font-thin uppercase;
        font-size: clamp(15rem, 30vw, 23rem);
    }
    .heading-display {
        @apply text-display-small leading-none font-thin lg:text-display-medium xl:text-display-large;
    }

    .heading-headline {
        @apply text-headline-small leading-none font-thin lg:text-headline-medium xl:text-headline-large;
    }

    .heading-title {
        @apply text-title-small font-normal lg:text-title-medium xl:text-title-large;
    }
}
